*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffdabc40;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
}

.container::after,
.container::before {
  position: absolute;
  content: '';
  display: block;
  background-color: #333;
  width: 2px;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}

.container::after {
  left: auto;
  right: 4px;
}