.spinner {
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 6px dashed #333;
  animation: spin 1s ease-in-out infinite forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}